@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$main_font: 'Roboto', sans-serif;

$yellow_color: #ffcb3e;
$white_color: #f7f9f9;
$blue_color: #007ea7;
$black_color: #02020b;
$green_color: #0b6e4f;
$cyan_color: #08929a;
