@import '../../../styles/main.scss';

.toDoContainer {
  .taskBlock {
    width: 320px;
    height: 20px;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid $blue_color;
    cursor: pointer;

    .todo {
      color: $blue_color;
      font-weight: 500;
      padding-left: 20px;
    }

    .completedToDo {
      text-decoration: line-through;
    }
  }

  .toDoStatus {
    height: 42px;
    width: 32px;
    background-color: $yellow_color;
    @include Centered_content;
  }
}

.taskBlock:hover {
  border-bottom: 2px solid $yellow_color;
}
