@import '../../../styles/main.scss';

.toDoContainer {
  .taskBlock {
    width: 320px;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    .todo {
      width: 285px;
      color: $blue_color;
      font-weight: 500;
      padding-top: 10px;
      border: none;
      border-bottom: 2px solid $blue_color;
      margin-left: 10px;
    }

    .completedToDo {
      text-decoration: line-through;
    }
  }

  .toDoStatus {
    height: 35px;
    width: 35px;
    background-color: $yellow_color;
    @include Centered_content;
  }
  .todo:hover {
    border-bottom: 2px solid $yellow_color;
  }
}
