@import '../../styles/main.scss';

h2 {
  color: $blue_color;
}

.counter {
  display: flex;
  justify-content: center;
  span {
    padding-left: 8px;
    font-size: 18px;
  }
  .counterConteiner {
    display: flex;

    .counter_item_text {
      background-color: $blue_color;
      color: $white_color;
      height: 30px;
      width: 100px;
      @include Centered_content;
    }

    .counter_item_value {
      @include Centered_content;
      height: 30px;
      width: 40px;
      background-color: $yellow_color;
      color: $black_color;
    }
  }
  .counterConteiner:first-child {
    padding-right: 20px;
  }
}

.filterContainer {
  padding: 20px 0;

  button {
    height: 30px;
    width: 93px;
    margin: 5px;
    transition: 0.3s;
    padding: 0;
    border: none;
    background-color: $blue_color;
    font-family: $main_font;
    font-weight: bold;
    color: $white_color;
    cursor: pointer;
  }
  .activeBtn {
    transition: 0.3s;
    background-color: $yellow_color;
    color: $black_color;
  }
}

.filterContainer:nth-child(1) {
  margin: 0 10px 0 10px;
}

.tasksBlock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
